
h2 {
    text-align: center;
}

.inputs{
    max-width: 700px;
    margin: auto auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputs input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .inputs button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .inputs button:hover {
    background-color: #218838;
  }

  .pdtdropdown {
    margin-bottom: 20px;
  }
  
  .select-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .select-dropdown button {
    background-color: #f9f9f9;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
  }
  
  .select-dropdown button:hover,
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .select-dropdown:hover .dropdown-content {
    display: block;
  }