.product-list-container {
  width: 100%;
  padding: 10px; /* Add padding as needed */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between items as needed */
}

.product-card {
  flex: 1 1 250px; /* Each product card will take up at least 300px width */
  max-width: 250px; /* Maximum width for each product card */
  max-height: 400px; /* Maximum height for each product card */
  background-color: #f9f9f9; /* Background color for the product card */
  border: 1px solid #ddd; /* Border for the product card */
  border-radius: 8px; /* Rounded corners for the product card */
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card figure {
  margin: 0;
  text-align: left; /* Left align content inside each product card */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-info {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 10px;
  color: #555;
}

.user-info .user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.product-card img {
  padding: 5px;
  border-radius: 3px; /* Rounded corners for the product image */
  width: 100%; /* Ensure images take full width of their container */
  height: 100%; /* Maintain aspect ratio */
  max-height: 350px; /* Maximum height for the product image */
  overflow: hidden;
}

.product-card figcaption {
  justify-content: flex-start;
  margin-top: 0px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #555; /* Adjust text color as needed */
}

/* Media Query for Responsive Layout */
@media (max-width: 768px) {
  .product-card {
    flex: 1 1 100%; /* Full width on smaller screens */
    max-width: 100%;
  }
}
