.product-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  position: relative;
}

.product-info img {
  max-width: 700px;
  max-height: 700px;
  width: 400px;
  height: auto;
  border-radius: 8px;
  margin-right: 30px;
}

.product-details {
  flex: 1;
}

.product-details h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.product-details p {
  margin-top: 0;
  margin-bottom: 15px;
}

.action-container {
  display: flex;
  flex-direction: column;
}

.bold-link,
.action-link,
.action-button {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.bold-link {
  font-weight: bold;
  background-color: #28a745;
}

.bold-link:hover,
.action-link:hover,
.action-button:hover {
  opacity: 0.9;
}

.action-link {
  background-color: #17a2b8;
}

.green-button {
  background-color: green;
}

.light-red-button {
  background-color: lightcoral;
}

.dark-red-button {
  background-color: darkred;
}

.product-details a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.product-details a:hover {
  text-decoration: underline;
}

/* Styling for status banners */
.status-banner {
  position: absolute;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust background color and opacity */
  border-radius: 4px;
  z-index: 1;
}

.sold-banner {
  background-color: #00008b;
}

.reserved-banner {
  background-color: #800080;
}

/* Styling for like button */
.like-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.like-button:hover {
  background-color: #333;
}

.like-button .heart-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.like-button.liked {
  background-color: black;
  color: red;
}

.like-button.liked:hover {
  background-color: #333;
  color: #ff4d4d; /* Lighter red when hovered */
}