.profile-page {
  display: flex;
  padding: 20px;
  margin-top: 20px; /* Space at the top */
  height: 100vh; /* Full viewport height */
  box-sizing: border-box; /* Ensure padding is included in the height */
}

.profile-column {
  width: 200px; /* Fixed width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding: 10px;
  border-right: 1px solid #ccc; /* Vertical line */
}

.avatar {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  border-radius: 50%;
  overflow: hidden; /* Ensure content inside is clipped to border radius */
}

.avatar img {
  width: 100%; /* Ensures the image fills the avatar container */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Cover ensures the entire container is covered */
}

.profile-column h3 {
  margin: 10px 0;
}

.profile-column p {
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.profile-column button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-column button:hover {
  background-color: #0056b3;
}

.listing-column {
  flex-grow: 1; /* Take up the remaining width */
  padding: 10px;
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

.listing-column h2 {
  margin-bottom: 20px;
}

.listing-column.l-image{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.listing-column.l-image figure figcaption{
  color: black;
}
.listing-column.l-image figure a{
text-decoration: none;
}
.listing-column.l-image figure a:hover{
text-decoration: underline;
}
