.profile-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px;
}

.profile-column {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #ccc;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-column h3 {
  margin-top: 10px;
  text-align: center;
}

.profile-column p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-column p svg {
  margin-right: 5px;
}

.profile-column a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.listing-column {
  flex: 2;
}

.listing-column h2 {
  margin-bottom: 10px;
}

.product-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.product-card figure {
  position: relative;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card figcaption {
  padding: 10px;
}

.product-card figcaption p {
  margin-bottom: 5px;
}

.status-banner {
  position: absolute;
  bottom: 135px; /* Adjust distance from bottom */
  left: 50%; /* Center align horizontally */
  transform: translateX(-50%);
  padding: 10px 80px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  z-index: 1;
  white-space: nowrap; /* Prevent text from wrapping */
}

@media screen and (max-width: 768px) {
  .profile-page {
      flex-direction: column;
      align-items: center;
  }

  .profile-column {
      margin-right: 0;
      margin-bottom: 20px;
  }
}
